.dataTables_wrapper .dataTables_filter label {
    color: #c49c29;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_length label {
    color: #c49c29;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_info {
    color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
    background-color: #393d22 !important;
    border: 1px solid #c49c29;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 2px;
}
.table {
    color: white;
}

.table thead th {
    background-color: #393d22; 
    color: #c49c29; 
}

.table tbody tr {
    background-color: #555b35; 
}

.table tbody tr:hover {
    background-color: #666e4d; 
}

.table tbody td {
    color: white; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #c49c29 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #c49c29 !important;
    color: white !important;
}

.addHotel{
    border: 2px solid #c49c29;
    padding: 20px;
}
.pagination .page-item.active .page-link {
    background-color: #c49c29;
    color: rgb(0, 0, 0);
    border: 1px solid #c49c29;
}
.dataTables_length label select {
    color: rgb(242, 219, 11) !important;
}

.btn-custom {
    color: aliceblue;
    border: 2px solid #c49c29;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn-custom:hover {
    background-color: #fdc203;
    color: white;
    text-decoration: none;
}

.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-link {
    color: #c49c29;
    border: 1px solid #c49c29;
}

.pagination .page-link:hover {
    background-color: #fdc203;
    color: white;
    border-color: #fdc203;
}